@import "../../utilites/variables";
@import "../../utilites/mixins";
// @import "../../layout/body";
.home {
  position: relative;
  z-index: 4;
  min-height: (100vh);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 2.3rem;
  @include endPoint(sm) {
    margin-top: 1.5rem;
  }
}

.HomeContainer {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include endPoint(lg) {
    align-items: flex-end;
    margin-bottom: 4.5rem;
  }
}
.homeItems-wrapper {
  // headings and image and scroll down
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;

  @include endPoint(lg) {
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 79vh;
  }
}

.ScrollDown_Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 45px;

  @include endPoint(lg) {
    bottom: 40%;
    display: none;
  }
}
.ScrollDown_Icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1.1rem;
  height: 100%;
  border: 1px solid $primary-color;
  border-radius: 50px;

  > :first-child {
    display: inline-block;
    color: $primary-color;
    font-size: 1.2rem;
    animation: bounceY 0.7s ease-in-out infinite;
  }
}

@keyframes bounceY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}
