@import "../../utilites/variables";
@import "../../utilites/mixins";

.header {
  position: relative;
  z-index: 1044;
  height: $header-height;
  background-color: $second-color;
  // border-bottom: 4px solid $primary-color;
  transition: background-color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1),
    border-bottom 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.scroll {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $primary-color;
  border-bottom: 4px solid #191919;
  transition: top 0.3s ease-out;
}
.Headercontainer {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
}
