@import "../../../utilites/variables";
@import "../../../utilites/mixins";
.stylesList_wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
  place-items: center;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  row-gap: 25px;
  column-gap: 8px;
}
.projectBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  position: relative;
  overflow: hidden;
  list-style: none;
  background: linear-gradient(0deg, $primary-color 75%, #3333333e 25%);

  > img {
    max-width: 100%;
    object-fit: cover;
    filter: sepia(0%);
    transition: transform 0.5s cubic-bezier(0.08, 0.21, 0.2, 1.07);
  }

  &:hover {
    > :nth-child(2) {
      transform: translateY(0%);
    }

    > img {
      transform: rotate(8deg) scale(1.2);
      filter: sepia(100%);
    }
  }
}
.DescriptionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $boxes-bdColor;
  transform: translateY(150%);
  transition: transform 0.5s ease-out;
}

.projectDescription {
  text-align: center;
  color: #def8f8;
}
.projectName {
  font-size: 1.2rem;
  font-weight: bolder;
  text-transform: uppercase;
  background: linear-gradient(40deg, $projects-backround, $boxes-bgColor);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #def8f8;
}
.projectSubName {
  max-width: 300px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: start;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
}

.links {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
  padding: 1rem 0;

  > a {
    font-size: 1.5rem;
    color: $font-color;

    &:hover {
      color: $hover-box;
    }
  }
}
