/**********/
/* fonts */
/**********/
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");
/**********/
/* colors */
/**********/
:root {
  --bs-body-font-family: "Nunito", sans-serif;
  --bs-body-bg: var(--root-second-color);
  --root-primary-color: #33a06f;
  --root-second-color: #041417;
  --root-overlay-color: #17201c;
  --root-white-color: #f6f6f6;
  --root-boxes-bgColor: #33a06f;
  --root-boxes-bdColor: #15201c;
  --root-progress-foreground: #f8f8f8;
  --root-progress-backround: #6a6a6aab;
  --root-projects-backround: #fca311d3;
  --root-hover-box: #eedd9d;
  --root-service-box: #33a06f;
  --root-service-box-clr: #ffe417;
  --root-projects-text: #03045e;
  --root-font-color: #eeffee;
}

.img-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  aspect-ratio: 1 / 1;
  -webkit-clip-path: polygon(50% 6%, 88% 25%, 88% 63%, 49% 81%, 11% 62%, 10% 25%);
  clip-path: polygon(50% 6%, 88% 25%, 88% 63%, 49% 81%, 11% 62%, 10% 25%);
  background-color: var(--root-primary-color);
  margin-top: 20px;
  -webkit-animation: 5s cubic-bezier(0.645, 0.045, 0.355, 1) alternate infinite bounceY;
          animation: 5s cubic-bezier(0.645, 0.045, 0.355, 1) alternate infinite bounceY;
}

@media (max-width: 768px) {
  .img-wrapper {
    -webkit-clip-path: polygon(49% 12%, 90% 25%, 90% 69%, 50% 86%, 10% 72%, 10% 25%);
    clip-path: polygon(49% 12%, 90% 25%, 90% 69%, 50% 86%, 10% 72%, 10% 25%);
    width: 65%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    aspect-ratio: 1 / 1;
    margin-right: 0.5rem;
  }
}

.main-img {
  width: 100%;
  height: 100%;
}

.main-img > img {
  max-width: 100%;
  max-height: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-animation: 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) alternate infinite bounceX;
          animation: 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) alternate infinite bounceX;
}

.placeholder-effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--root-second-color);
  opacity: 0.3;
  -webkit-transition: opacity 0.7s linear;
  transition: opacity 0.7s linear;
  -webkit-animation: placeholder 1.2s linear alternate infinite;
          animation: placeholder 1.2s linear alternate infinite;
}

@-webkit-keyframes bounceY {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes bounceY {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@-webkit-keyframes bounceX {
  0% {
    -webkit-transform: translateX(-10px) translateY(10px);
            transform: translateX(-10px) translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-20px) translateX(20px);
            transform: translateY(-20px) translateX(20px);
  }
}

@keyframes bounceX {
  0% {
    -webkit-transform: translateX(-10px) translateY(10px);
            transform: translateX(-10px) translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-20px) translateX(20px);
            transform: translateY(-20px) translateX(20px);
  }
}

@-webkit-keyframes placeholder {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes placeholder {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
/*# sourceMappingURL=PersonalIMG.module.css.map */