/**********/
/* fonts */
/**********/
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
/**********/
/* colors */
/**********/
:root {
  --bs-body-font-family: "Nunito", sans-serif;
  --root-primary-color: #00bf76;
  --root-second-color: #041417;
  --root-overlay-color: #17201c;
  --root-white-color: #f6f6f6;
  --root-boxes-bgColor: #00bf76;
  --root-boxes-bdColor: #15201c;
  --root-progress-foreground: #f8f8f8;
  --root-progress-backround: #6a6a6aab;
  --root-projects-backround: #fca311d3;
  --root-hover-box: #eedd9d;
  --root-projects-text: #03045e;
  --root-font-color: #eeffee;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 4px solid var(--root-boxes-bgColor);
  background-color: var(--root-boxes-bdColor);
  padding: 1rem 0.5rem;
}

.form > * label {
  color: var(--root-boxes-bgColor) !important;
  text-transform: uppercase;
  font-size: 00.8rem;
}

.form > * input {
  background-color: var(--root-boxes-bgColor) !important;
  color: var(--root-font-color) !important;
  padding: 0.1rem 0.5rem !important;
  border: 2px solid var(--root-boxes-bdColor);
}

.form > * input::-webkit-input-placeholder {
  color: var(--root-boxes-bdColor) !important;
}

.form > * input:-ms-input-placeholder {
  color: var(--root-boxes-bdColor) !important;
}

.form > * input::-ms-input-placeholder {
  color: var(--root-boxes-bdColor) !important;
}

.form > * input::placeholder {
  color: var(--root-boxes-bdColor) !important;
}

.form > * input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: var(--root-boxes-bgColor);
}

.messageArea {
  display: inline-block;
  height: 130px;
  width: 100%;
  margin-top: 1.5rem;
  text-align: start;
  color: var(--root-font-color) !important;
  border: 1px solid var(--root-boxes-bdColor) !important;
  background-color: var(--root-second-color) !important;
}

.sendButton,
.resetButton {
  width: 100%;
  background-color: var(--root-boxes-bdColor);
  color: var(--root-boxes-bgColor);
  text-transform: capitalize;
  font-weight: bold;
  padding: 00.375rem 0.3rem;
  border-radius: 0.375rem;
  border: 1px solid var(--root-boxes-bgColor);
}

@media (max-width: 768px) {
  .sendButton,
  .resetButton {
    -webkit-margin-after: 0.75rem;
            margin-block-end: 0.75rem;
  }
}

.sendButton:hover,
.resetButton:hover {
  opacity: 0.5;
}

.showMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 8px;
  background-color: var(--root-overlay-color);
  border: 2px solid var(--root-boxes-bgColor);
  padding: 00.375rem 1rem;
  margin: 1rem 0;
}

.showMessage.error {
  border-color: #f60;
}

.showMessage > span {
  color: var(--root-boxes-bgColor);
  font-size: 1.7rem;
}

.showMessage > span.error {
  color: #f60;
}

.showMessage h5 {
  color: var(--root-font-color);
  margin-bottom: 0;
  text-transform: capitalize;
}

.showMessage > button {
  background-color: #f60;
  margin: auto;
}
/*# sourceMappingURL=form.module.css.map */