/***************/
/* Preset body */
/***************/
body {
  background-color: $overlay-color;
  transition: background-color 0.7s cubic-bezier(0.65, 0.21, 0.65, 1.24);

  animation-name: pageLoading;
  animation-duration: 1.1s;
  animation-timing-function: ease-out;
}

@keyframes pageLoading {
  0% {
    opacity: 0;
    transition: cubic-bezier(0.65, 0.21, 0.65, 1.24);
  }
  1% {
    opacity: 0.9;
    transition: cubic-bezier(0.65, 0.21, 0.65, 1.24);
  }
}
